<% form_for @store, :html => { :id => 'add_record', :class => 'auxiliary ajaxed' } do | f | %>
<%  @store_form = f %>
<h2>Add Store</h2>
  <% field_set_tag do %>
    <%= render :partial => "form" %>
    <% field_set_tag nil, :class => "button_wrapper" do %>
      <%= f.submit 'Save', :class => "button" %>
    <% end %>
  <% end %>
<% end %>
