<% form_for @store, :html => { :method => :delete, :class => 'auxiliary ajaxed' } do |f| %>
<p><strong>Delete store: <%= "#{@store.name}, #{@store.address_1}, #{@store.city}" -%>?</strong></p>
  <% field_set_tag nil, :class => "button_wrapper" do %>
    <%= f.submit 'Delete', :class => "button" -%>
  <% end %>
<% end %>