<% content_for :title do %>
Exhibitors
<% end %>
<% content_for :bottom_load_js do %>
  <%= javascript_include_tag "exhibitors" %>
<% end %>
<div class="header">Exhibitors</div>
<div class="button_wrapper">
  <%= link_to 'Add Exhibitor', new_exhibitor_path, :class => 'button insert' %>
</div>
<div id="exhibitors_list">
  <%= render :partial => "exhibitors_list" %>
</div>
