<% form_for @exhibitor, :html => { :method => :delete, :class => 'auxilliary ajaxed' } do |f| %>
<ol>
  <li>Delete exhibitor: <%= format_name(@exhibitor) -%></li>
  <li><%= f.submit -%></li>
</ol>
<% end %>