<% content_for :title do %>
Coordinators
<% end %>
<% content_for :bottom_load_js do %>
  <%= javascript_include_tag "coordinators" %>
<% end %>
<div class="header">Coordinators</div>
<div class="button_wrapper">
  <%= link_to 'Add Coordinator', new_coordinator_path, :class => 'button insert' %>
</div>
<div id="coordinators_list">
  <%= render :partial => "coordinators_list" %>
</div>
