<% form_for @venue, :html => { :id => 'add_record', :class => 'auxilliary ajaxed' } do | f | %>
<%  @venue_form = f %>
<h2>Modify Venue</h2>
  <% field_set_tag do %>
    <%= render :partial => "form" %>
    <% field_set_tag nil, :class => "button_wrapper" do %>
      <%= f.submit 'Save', :class => "button" %>
    <% end %>
  <% end %>
<% end %>