<% content_for :title do %>
Venues
<% end %>
<% content_for :bottom_load_js do %>
  <%= javascript_include_tag "venues" %>
<% end %>
<div class="header">Venues</div>
<div class="button_wrapper">
  <%= link_to 'Add Venue', new_venue_path, :class => 'button insert' %>
</div>
<div id="venues_list">
  <%= render :partial => "venues_list" %>
</div>
