<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @store.buyers.each do | buyer | %>
    <tr id="buyer_<%= buyer.id -%>">
      <td><%= format_name(buyer) -%> </td>
      <td><%= buyer.phone -%></td>
      <td><%= buyer.email -%></td>
    </tr>
    <% end %>
  </tbody>
</table>
