<!-- Do a form for creating buyers -->
<% form_for @buyer, :html => { :id => 'add_record', :class => 'auxiliary ajaxed' } do |f| %>
  <% @buyer_form = f %>
<h2>Add Buyer</h2>
  <% field_set_tag do %>
    <%= render :partial => "form" %>
    <% field_set_tag nil, :class => "button_wrapper" do %>
      <%= f.submit 'Save', :class => "button" %>
    <% end %>
  <% end %>
<% end %>
