<% form_for @buyer, :html => { :method => :delete, :class => 'auxiliary ajaxed' } do |f| %>
<p><strong>Delete buyer: <%= format_name(@buyer) -%>?</strong></p>
  <% field_set_tag nil, :class => 'button_wrapper' do %>
    <%= f.submit 'Delete', :class => 'button' -%>
  <% end %>
<% end %>
