<% content_for :title do %>
Shows
<% end %>
<% content_for :bottom_load_js do %>
  <%= javascript_include_tag "shows" %>
<% end %>
<div class="header">Shows</div>
<div class="button_wrapper">
  <%= link_to 'Add Show', new_show_path, :class => 'button insert' %>
</div>
<div id="shows_list">
  <%= render :partial => "shows_list" %>
</div>
