<% form_for @show, :html => { :method => :delete, :class => 'auxiliary ajaxed' } do |f| %>
<p><strong>Delete show <%= @show.description -%>?</strong></p>
  <% field_set_tag nil, :class => "button_wrapper" do %>
    <%= f.submit 'Delete', :class => "button" -%>
  <% end %>
<% end %>